@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

/* !important has been used on .list-group-item to override bootstrap styling */

/********************************************* Generic Stylings */

p,
a,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat Alternates', sans-serif;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.19);
}

a{
    color: #000;
    text-decoration: none;
}

a:hover 
{
    color: #000;
     text-decoration:none; 
}

/********************************************* Wrapper */

.wrapper-white{
    background-color: white;
    padding: 2.5% 10%;
    width: 100%;
}

/********************************************* Header/Nav */

.header{
    margin-bottom: 40px;
}

.heading{
    padding: 25px;
}

.turquoise-bg{
    background-color: #A6F7CD;
}

.logo-image{
    max-height: 50px;
}

/********************************************* Footer */

footer{
    text-align: center;
}

footer .turquoise-bg{
    padding: 20px 0;
}

.list-group li a i {
    background-color: #fff;
    font-size: 32px;
    width: 28px;
    height: 30px;
    border-radius: 5px;
}

.list-group-item {
    border-width: 0px !important; 
    background-color: inherit !important;
}

/* Possibly to be used again? Delete if no longer useful 

#facebook-icon{
    color: #4267B2;
}

#twitter-icon{
    color:  #00acee;
}

#linkedin-icon{
    color: #0e76a8;
}

#instagram-icon{
    color: #DD2A7B;
}

#youtube-icon{
    color: #FF0000;
}

#pinterest-icon{
   color: #E60023; 
}*/

/********************************************* Image Cards */

.card-group img{
    height: 200px;
}

/********************************************* Map API */

div#map{
    min-height: 360px;
}